* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #333;
	font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 50px;
	text-align: center;
}